* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 2000px;
}

/* MAIN */

.data {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

/* LIST */

ul {
	list-style-type: none;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	gap: 20px;
}

ul li {
	background: grey;
	padding: 0 10px;
}

ul li a {
	color: white;
	font-size: 25px;
	text-decoration: none;
}

/* BOX */

.box {
	content: "";
	width: 500px;
	height: 500px;
	background-color: rgb(37, 71, 36);
	overflow-y: scroll;
}

.fixed {
	position: fixed;
	top: 0;
}
